.body {
    background-color: rgb(235, 235, 235);
}
#addProductForm{
    background-color: white;
    border-radius: 10px;
    width: 680px;
}
.user-info, button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: solid 1px grey;
    margin: 10px;
}